{% extends 'base.html.twig' %}

{% block title %}Discussions{% endblock %}

{% block body %}
    <h1>Liste des discussions</h1>

    <div class="row">
        <div class="col-3">
            <ul class="list-group">
                {% for discussion in discussions %}
                    <li class="list-group-item">
                        <a href="#">{{ discussion.nom }}</a>
                    </li>
                {% else %}
                    <li class="list-group-item">Aucune discussion trouvée.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-9">
            <!-- Affichage du contenu des discussions à droite -->
            <div class="discussion-content">
                <!-- Ajoutez ici les événements et les réponses comme dans l'image -->
                <h2>Événement</h2>
                <p>LauraFestivités: Recherche bénévoles motivés pour la prochaine soirée...</p>
                <p>Réponse : PaulCoordination, PierreTechnique, etc.</p>

                <h3>Événement :</h3>
                <p>Formation : "Maîtriser Excel pour la gestionbudgétaire"</p>
                <p>Date : Jeudi 27 juin, 19h-22h</p>
                <p>Lieu : salle informatique</p>
            </div>
        </div>
    </div>
{% endblock %}
