{% extends 'base.html.twig' %}

{% block title %}Modifier le commentaire{% endblock %}

{% block body %}
    <h1>Modifier le commentaire</h1>

    {{ form_start(form) }}
        {{ form_row(form.contenu) }}
        <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_post_view', {'id': comment.post.id}) }}">Retour au post</a>
{% endblock %}
