{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <h1>Admin Dashboard</h1>

    <a href="{{ path('admin_user_list') }}" class="btn btn-secondary mb-3">Utilisateurs</a>
    <a href="{{ path('admin_event_list') }}" class="btn btn-secondary mb-3">Événements</a>
    <a href="{{ path('admin_discussion_list') }}" class="btn btn-secondary mb-3">Discussions</a>
{% endblock %}
