{% extends 'base.html.twig' %}

{% block title %}Créer un post{% endblock %}

{% block body %}
    <h1>Créer un post</h1>

    {{ form_start(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.contenu) }}
        <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(form) }}
{% endblock %}
